fastapi
uvicorn
celery
redis
sqlalchemy
psycopg2-binary
python-dotenv
requests
pandas
yfinance
langchain
langchain-groq
langgraph
reportlab
newsapi-python
xarray
netCDF4
matplotlib
scikit-learn
Pillow